@import "variables";

.add-task-button {
  // Styles for the add task button
  background-color: #4caf50; // Green
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.modal-overlay {
  // Styles for the modal overlay
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-container {
    // Styles for the modal container
    background-color: $color-background;
    padding: 40px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;

    .modal-content {
      // Styles for the modal content

      .modal-header {
        // Styles for the modal header

        .modal-title {
          // Styles for the modal title
          font-size: 20px;
          font-weight: bold;
        }

        .modal-input {
          // Styles for the modal input
          width: 100%;
          padding: 10px;
          margin-top: 10px;
          border-radius: 5px;
        }
      }

      .modal-footer {
        // Styles for the modal footer
        display: flex;
        justify-content: flex-end;

        .close-button {
          // Styles for the close button
          background-color: #f44336; // Red
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 10px;
        }
      }
    }
  }
}
